<form [formGroup]="taskForm" class="task-form">
  <mat-form-field floatLabel>
    <textarea
      matInput
      rows="3"
      placeholder="Description"
      formControlName="description"
      required
    ></textarea>
  </mat-form-field>
  <mat-form-field floatLabel>
    <input
      matInput
      type="date"
      placeholder="Enter password"
      formControlName="dueDate"
      required
    />
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button (click)="goBack()">Back</button>

    <button (click)="onSubmit()" mat-raised-button [disabled]="!taskForm.valid">
      Save
    </button>
  </div>
</form>
