<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button *ngIf="!(isLoggedIn | async)" (click)="navigate('login')" mat-button>
    Login
  </button>
  <button *ngIf="isLoggedIn | async" (click)="navigate('list')" mat-button>
    Tasks
  </button>
  <button *ngIf="isLoggedIn | async" (click)="navigate('create')" mat-button>
    Add Task
  </button>
  <button *ngIf="isLoggedIn | async" (click)="logout()" mat-button>
    Logout
  </button>
</mat-toolbar>
<div style="text-align:center">
  <h5>Welcome to {{ title }}!</h5>
  <h4 *ngIf="userName">{{ userName }}</h4>
</div>

<router-outlet></router-outlet>
