<mat-card class="list">
  <div><button mat-raised-button (click)="addTask()">Add Task</button></div>
  <ul>
    <li *ngFor="let task of tasks">
      <h5>{{ task.description }}</h5>
      <p><strong>Due Date:</strong> {{ task.dueDate | date }}</p>
      <button mat-raised-button (click)="editTask(task._id)">Edit</button>
      <button mat-raised-button (click)="removeTask(task._id)">Remove</button>

    </li>
  </ul>
</mat-card>
