<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field floatLabel>
    <input
      matInput
      type="text"
      placeholder="Username"
      formControlName="userName"
      required
    />
    <mat-error *ngIf="userForm.get('userName').hasError('required')"
      >Enter User Name</mat-error
    >
    <mat-error *ngIf="userForm.get('userName').hasError('minlength')"
    >User Name Should be 5 Symbols</mat-error
    >
  </mat-form-field>
  <mat-form-field floatLabel>
    <input
      matInput
      type="password"
      placeholder="Enter password"
      formControlName="password"
      required
    />
  </mat-form-field>
  <button type="submit" mat-raised-button [disabled]="!userForm.valid">
    Login
  </button>
</form>
